@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
html {font-family: 'Trade Winds';}
.background-image{
    background-image: url('../images/back-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    height:100vh;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.background-image.g{
    background-image: url('../images/back-2.jpg');
}